{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Diga aí</title>
  </head>
  <body>
    <main>
      <section>
        <img src="{% static 'images/logoform.jpeg' %}" alt="logo" />
      </section>
      <section class="form">
        <table>
           <tr> 
            <td>
          <h1>Logged out!</h1>
            </td>
        </tr>
        <tr>
            <td>
        <p><a href="{% url 'login'%}">Click here to login again.</a></p>
    </td>
    </tr>
      </section>
            </main>
  </body>
</html>
