{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Diga aí</title>
</head>
<body>
    <main>
        <section>
            <img src="{% static 'images/logoform.jpeg' %}" alt="logo">
        </section>
        <section class="form">
            <form>
                <h3>Diga aí, pessoa arretada da peste</h3>
                <div>
                    <label>Título:</label>
                    {{form.titulo}}
                </div>
                <div>
                    <label>Denuncia</label>
                    {{form.texto_denuncia}}
                </div>
                <div>
                    <label>Denunciante:</label>
                    {{form.texto_denuncia}}
                </div>
                <div>
                    <label>E_mail:</label>
                    {{form.email}}
                </div>
                <div>
                    <label>Endereço:</label><br>
                    {{form.endereco}}
                </div>
                <div>
                    <label>Bairro:</label><br>
                    {{form.Bairro}}
                </div>
                <div>
                    <label>Cidade:</label><br>
                    {{form.cidade}}
                </div>
                <div>
                    <label>Departamento:</label>
                        {{form.empresa}}
                </div>
                <button type="submit">Enviar</button>
                <button type="submit"><a id="home" href="{% url 'home' %}">Voltar</a></button>
            </form>
        </section>
    </main>
</body>
</html>