{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/logo.ico' %}">
    <title>Home</title>
</head>
<body>
    <main class="main-home">
        <section>
            <img src="{% static 'images/logo-home.jpeg' %}" alt="logo">
            <button>fazer login</button>
            <button>cadastrar</button>
            <button type="submit"><a id="denuncia" href="{% url 'cadastro_denuncia' %}">abrir reclamação</a></button>
        </section>
        <section class="description">
            <p>
                Você já teve dificuldade para fazer alguma denunciar? Nós vamos te ajudar!
                Está plataforma tem o intuito de facilitar a interação da população com os órgãos para relatar infrações
                e denunciar trazendo agilidade na resolução dos problemas preparados.
            </p>
        </section>
    </main>
</body>
</html>


