{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/logo.ico' %}">
    <title>Diga aí</title>
</head>
<body>
    <main>
        <section>
            <img src="{% static 'images/logo.jpeg' %}" alt="logo">
        </section>
        <section class="form">
            <form>
                <h3>Diga aí, pessoa arretada da peste</h3>
                <div>
                    <label>Título:</label>
                    <input type="text" name="titulo" placeholder="Digite aqui" />
                </div>
                <div>
                    <label>Nome:</label>
                    <input type="text" name="nome" />
                </div>
                <div>
                    <label>Endereço:</label>
                    <input type="text" name="endereco" />
                </div>
                <div>
                    <label>Departamento:</label>
                    <select name="departamento">
                        <option value="">-- Selecione --</option>
                        <option value="">Celpe</option>
                        <option value="">Detran</option>
                        <option value="">Compesa</option>
                    </select>
                </div>
                <div class="descricao">
                    <label>Descrição:</label>
                    <textarea name="descricao" cols="25" rows="3"></textarea>
                </div>
                <button type="submit">Enviar</button>
            </form>
        </section>
    </main>
</body>
</html>