{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Diga aí</title>
</head>
<body>
    <main>
        <section>
            <img src="{% static 'images/logoform.jpeg' %}" alt="logo">
        </section>
        <section class="form">

            <form method="POST" class="post-form">
                {% csrf_token %}
                <h3>Diga aí, pessoa arretada da peste</h3>
                    {{ form.as_p }}
                <div>
                    <button type="submit" class="save btn btn-default">Salvar</button>
                </div>
            </form>
        </section>
    </main>
</body>
</html>