{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Diga aí</title>
  </head>
  <body>
    <main>
      <section>
        <img src="{% static 'images/logoform.jpeg' %}" alt="logo" />
      </section>
      <section class="form">
        <div class="col-md-4 offset-md-4">
          <div class="card auth-card">
            <div class="card-body">
              <h2 class="card-title text-center">
                Registre-se para usar o To Do
              </h2>

              <form id="register-form" method="post">
                {% csrf_token %}
                 {{ form.as_p }}

                <button type="submit" class="btn btn-primary btn-block">
                  Registrar
                </button>
              </form>

              <p class="change-form-p">
                Já possui uma conta? <a href="/accounts/login">Clique aqui!</a>
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
