/* padroes */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
    margin: 0;
    font-family: 'Open Sans', sans-serif; 
}
input {
    background: none;
    border: 1px solid #323653;
    width: 300px;
    padding: 5px;
}
label {
    margin-right: 0.35rem;
}
textarea {
    background: none;
    border: 1px solid #323653;
}
select {
    background: none;
    border: 1px solid #323653;
    width: 200px;
    padding: 5px;
}

a:link {
    text-decoration: none;
}



/* cadastro denuncias */
.main-home, .main-cadastro {
    display: flex;
    justify-content: space-around;
    height: 100vh;
}
.main-cadastro section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.main-cadastro button {
    background: none;
    border: 1px solid #323653;
    width: 150px;
    padding: 0.65rem;
    border-radius: 2rem;
    cursor: pointer;
}
.main-cadastro button:hover {
    background:#323653;
    color: #fff;
}
.form {
    background-color: rgb(250, 208, 44, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form form div {
    margin: 1rem 0;
    display: flex;
}



/*home*/

.main-home section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.main-home button {
    padding: 1rem;
    background: #323653;
    color: #fff;
    border: none;
    width: 200px;
    margin-bottom: 1rem;
}

.description {
    color: #fff;
    background-image: linear-gradient(rgba(250, 208, 44, 0.5), rgba(250, 208, 44, 0.5)) , url("../images/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.description p  {
    max-width: 550px;
}

#denuncia{
    color: white;
}